#root {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carousel-item {
  height: 70vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
}

.car-card img {
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.car-card {
  min-height: 370px;
  max-height: 400px;
}

footer {
  background: #343a40;
  color: white;
  padding: 20px 0;
  text-align: center;
}

@media (max-width: 768px) {
  .carousel-item {
      height: 50vh;
  }
}